USE [HoaTuoiDB]
GO
/****** Object:  Table [dbo].[Hoa]    Script Date: 11/11/2024 11:34:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa](
	[MaHoa] [int] IDENTITY(1,1) NOT NULL,
	[TenHoa] [nvarchar](50) NOT NULL,
	[Gia] [float] NOT NULL,
	[Hinh] [varchar](50) NOT NULL,
	[MaLoai] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_Hoa] PRIMARY KEY CLUSTERED 
(
	[MaHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 11/11/2024 11:34:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 11/11/2024 11:34:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoan](
	[tendangnhap] [nvarchar](50) NOT NULL,
	[matkhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_taikhoan] PRIMARY KEY CLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hoa] ON 

INSERT [dbo].[Hoa] ([MaHoa], [TenHoa], [Gia], [Hinh], [MaLoai], [NgayCapNhat]) VALUES (1, N'Pink Lyly ', 350000, N'1.png', 1, CAST(N'2023-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Hoa] ([MaHoa], [TenHoa], [Gia], [Hinh], [MaLoai], [NgayCapNhat]) VALUES (2, N'Christmas Plant', 300000, N'hoagio001.png', 2, CAST(N'2023-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Hoa] ([MaHoa], [TenHoa], [Gia], [Hinh], [MaLoai], [NgayCapNhat]) VALUES (3, N'Everlasting ', 350000, N'2.png', 1, CAST(N'2023-12-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Hoa] OFF
GO
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (1, N'Hoa tươi bó')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (2, N'Hoa tươi giỏ')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (3, N'Hoa tươi bình')
SET IDENTITY_INSERT [dbo].[Loai] OFF
GO
INSERT [dbo].[taikhoan] ([tendangnhap], [matkhau]) VALUES (N'admin', N'admin')
INSERT [dbo].[taikhoan] ([tendangnhap], [matkhau]) VALUES (N'quan', N'123')
GO
ALTER TABLE [dbo].[Hoa]  WITH CHECK ADD  CONSTRAINT [FK_Hoa_DanhMuc] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[Hoa] CHECK CONSTRAINT [FK_Hoa_DanhMuc]
GO
